<div class="top_main_visual">
    <header class="top_main_visual_header">
        <div class="top_main_visual_title_area">
            <div class="top_main_visual_logo"><%= image_tag "k0257_7.png" %></div>
            <div class="top_main_visual_title"><%= link_to "メイゲン", "/" %></div>
        </div>
        <div class="top_main_visual_login_area">
            <div class="top_main_visual_signin"><%= link_to "sign in", "/" %></div>
            <div class="top_sub_visual_signup"><%= link_to "sign up", "/" %></div>
        </div>
    </header>
</div>
<div class="section">
    <span class="scroll">
        <span></span>
    </span>
</div>
<div class="top_sub_visual">
    <h1 class="top_sub_visual_title">名言をシェアしよう。</h1>
    <div class="top_sub_visual_explanation">
        <div class="top_sub_visual_explanation_text">
            <p class="top_sub_visual_explanation_firsttext">あなたの知らない名言に出会える場所。</p>
            <p class="top_sub_visual_explanation_secondtext">あなたの名言を誰かに教える場所。</p>
            <div class="top_sub_visual_explanation_thaadtext"><%= link_to "さあ、始めてみよう ＞", "/" %></div>
        </div>
    </div>
</div>


